.page-header {
  height: 75px;
  border-bottom: 1px solid @border-color-default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: @chalk;

  [class~='logo-wrapper'] {
    padding: 0 15px;
    display: flex;
    font-size: 25px;
    align-items: center;

    [class~='title'] {
      margin-left: 8px;
      color: @black;
      b {
        margin-right: 4px;
        .font-semi();
      }

      @media (max-width: @screen-md-max) {
        display: none;
      }
    }
  }

  nav {
    padding: 0 @default-padding;

    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 12px;
        color: @black;
        button {
          padding: 0;
        }
      }
    }
  }
}
