.api-docs-layout {
  display: flex;
  flex-direction: column;

  [class~='sl-text-base'] {
    font-size: @font-size-sm;
  }

  [class~='sl-text-sm'] {
    font-size: @font-size-xs;
  }

  [class~='sl-elements-api'] {
    > [class~='sl-flex']:first-of-type {
      padding-top: 0;
      > [class~='sl-flex']:first-of-type {
        display: none;
      }
    }
  }

  [class~='sl-prose'] {
    --fs-paragraph: @font-size-base;
    --fs-paragraph-small: @font-size-sm;
  }

  [class~='sl-h-lg'] {
    height: 40px;
  }

  [class~='sl-badge'] {
    border: none;
  }

  a {
    text-decoration: none;
  }

  a[href*='stoplight'] {
    display: none;
  }
}
